/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap");

/* common style or utilities*/

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  padding: 100px 0;
  background: #2d25a0;
  padding: 0 100px;
}
.banner-heading {
  color: white;
  font-size: 64px;
  width: 100%;
  overflow: hidden;
}
.text {
  width: 50%;
  padding: 100px 0px;
}
.banner img {
  width: 50%;
  padding: 100px 0px;
}
.button {
  display: flex;
  text-align: left;
  background: #e02c6d;
  align-items: center;
  width: 168px;
  height: 44px;
}
.b-button {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 10px 24px;
}
.button :hover {
  opacity: 0.8;
  transition: 0.3s;
  color: #2d25a0;
}
span {
  content: "\2192";
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 8px;
}
.banner img {
  width: 556.01px;
  height: 438px;
}

/* ----------------
     players-list
        ------------- */

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 0px 200px;
  padding-top: 70px;
}
.player img {
  width: 290px;
  height: 256px;
  border-radius: 5px;
}
h2 {
  width: 300px;
  height: 40px;
  color: #18191f;
}
p {
  font-size: 13px;
  color: #6c6c6c;
  margin: auto;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 290px;
  height: 400px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.pl_img {
  overflow: hidden;
  box-sizing: border-box;
}
.pl_img img {
  width: 100%;
}
.player:hover.player img {
  transform: scale(1.2);
  transition: 3s;
}
.players-list {
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------
    News 
    ------------*/

.title {
  text-align: center;
  color: #2d25a0;
  font-size: 30px;
}
.news-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 30px;
  margin-bottom: 40px;
}
.news-template img {
  width: 400px;
  height: 300px;
}

/* -----------
      theme 
      -------------*/
.theme {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---------------
      Footer 
      -------------*/
footer {
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: space-around;
}
.logo img {
  width: 483.87px;
  height: 110px;
  margin-top: 50px;
  margin-left: -130px;
  margin-bottom: 20px;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-icons {
  margin: 0px 12px;
}
.social-icons img {
  height: 35px;
  width: 35px;
}
.copyright {
  text-align: center;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0px 30px;
}

/* --------------
Media Queries 
-----------------*/
@media only screen and (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
  }
  .banner {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .news-container {
    display: flex;
    flex-direction: column;
  }
  .text {
    width: 100%;
  }
  .banner img {
    height: 333px;
    width: auto;
    padding-bottom: 50px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
